
<header class="masthead container">
	<a href="{{ site.baseurl }}/" class="site-avatar">
		<img src="https://avatars1.githubusercontent.com/u/18899535?s=460&v=4" />
    	</a>
	<nav>
		<a class="btn" href="{{ site.baseurl }}/notes/CSS">CSS</a>
      		<a class="btn" href="{{ site.baseurl }}/notes/Javascript">Javascript</a>
      		<a class="btn" href="{{ site.baseurl }}/notes/PHP">PHP</a>
      		<a class="btn" href="{{ site.baseurl }}/notes/Vue_React">React Vue</a>
      		<a class="btn" href="{{ site.baseurl }}/notes/Programming">Programming</a>
	</nav>
</header>
