    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <meta name="description" content="rfd3344 lijinhui li jinhui" />
    <meta property="og:description" content="rfd3344 lijinhui li jinhui"  />
  
    <meta name="author" content="rfd3344" />
    <meta property="og:title"  content="rfd3344 lijinhui li jinhui"/>
    <meta property="twitter:title"  content="rfd3344 lijinhui li jinhui" />
