<!DOCTYPE html>
<html>
 
{% include head.html %}
<body>
   <section>
      <header class="masthead clearfix">
	      <a href="{{ site.baseurl }}/" class="site-avatar">
	         <img src="https://avatars1.githubusercontent.com/u/18899535?s=460&v=4" />
	      </a>
	      <nav>
	        <a href="{{ site.baseurl }}/pages/blog">Blog</a>  
            <a href="{{ site.baseurl }}/pages/colortable">Color</a>
            <a href="{{ site.baseurl }}/notes/CSS">CSS</a>
            <a href="{{ site.baseurl }}/notes/Javascript">Javascript</a>
            <a href="{{ site.baseurl }}/notes/PHP_Node">PHP Node</a>
            <a href="{{ site.baseurl }}/notes/Vue_React">React Vue</a>
            <a href="{{ site.baseurl }}/notes/Programming">Programming</a>
            <a href="{{ site.baseurl }}/pages/test">Test</a>
	      </nav>
      </header>
   </section>

    <div id="main" role="main" >
      {{ content }}
    </div>

  	
  

    {% include analytics.html %}
</body></html>
